/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para la barra de navegación */
nav {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para la tabla de museos */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
}

caption {
    font-size: 24px;
    margin-bottom: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0077b6;
    color: #fff;
}

/* Estilo para los enlaces en la tabla */
a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para las imágenes en la tabla */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
